$fontSize: 72px;
$fontWeight: 600;
$size1600: 1600px;

.component {
  display: flex;
  justify-content: center;

  .containerDate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 132px;

    .signature {
      width: 132px;
      height: 54px;
      background: url("./Vector.svg");
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: var(--white-main-color);
      @media screen and (max-width: 600px) {
        background-size: 90px;
        background-repeat: no-repeat;
        background-position: center;
        width: 90px;
        height: 44px;
        font-size: 14px;
      }
    }
    @media screen and (max-width: 600px) {
      width: 120px;
    }
  }
}
.date {
  height: 95px;
  font-weight: $fontWeight;
  font-size: $fontSize;
  color: var(--blue-main-color);
  @media screen and (max-width: $size1600) {
    font-size: 52px;
    height: 70px;
  }
  @media screen and (max-width: 600px) {
    font-size: 36px;
    height: 50px;
  }
}
