.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 60px auto;
  width: var(--indentation);
  @media screen and (max-width: 1600px) {
    gap: 20px;
  }
  @media screen and (max-width: 1320px) {
    margin: 30px auto;
  }
  .mainText {
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--blue-main-color);
    opacity: 0.39;
    @media screen and (max-width: 1600px) {
      font-size: 52px;
    }
    @media screen and (max-width: 1320px) {
      font-size: 32px;
    }
  }
}
