.container {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.comment {
  display: flex;
  flex-direction: column;
  height: 200px;
  gap: 5px;
}
.comment_text {
  width: 100%;
  height: 100px;
  resize: none;
  background-color: var(--black-grey-BG);
  color: var(--white);
  border: none;
  outline: none;
}
.button {
  background-color: var(--azure-button);
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 14px;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-top: 5px;
}
.button:hover {
  background-color: var(--red);
}
.section__text {
  margin-top: 25px;
  text-align: justify;
  overflow-wrap: break-word;
  color: var(--white);
  font-size: 19px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
