@mixin border($props) {
  border:solid 1px $props;
}

.container {
  .about {
    color: var(--white);
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    height: 500px;
    overflow-x: hidden;
  
    .link {
      font-size: 18px;
      text-decoration: none;
      color: var(--blue);
      @include border(var(--blue));
      padding: 10px;
      width: fit-content;
      &:hover {
        color: var(--red);
        @include border(var(--red));
      }
    }
  }
  .mainBackGraund {
    top: 60px;
    position: absolute;
    z-index: -1;
    right: 0%;
    height: 500px;
    width: 100%;
    background: no-repeat url("../../../img/mainBackGraund.svg");
    background-size: cover;
  }
}



