.text {
  display: flex;
  gap: 30px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 300;
  font-size: 32px;
  height: 100%;
  color: var(--white-main-color);
  @media screen and (max-width: 1600px) {
    font-size: 25px;
    gap: 10px;
  }
  @media screen and (max-width: 1500px) {
    font-size: 20px;
  }
  @media screen and (max-width: 1320px) {
    writing-mode: initial;
    display: block;
    transform: rotate(0deg);
  }
  span {
    writing-mode: initial;
    font-size: 40px;
    transform: rotate(180deg);
    margin-top: 20px;
    @media screen and (max-width: 1550px) {
      font-size: 30px;
      margin-bottom: 10px;
    }
    @media screen and (max-width: 1320px) {
      font-size: 25px;
    }
  }
}
