@import "src/scss//button.scss";
@import "src/scss//formStyle.scss";

.container {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.comment {
  display: flex;
  flex-direction: column;
  height: 200px;
  gap: 5px;
}
.comment_text {
@include textarea;
}
.button {
@include buttonGreen;
}
.section__text {
  margin-top: 25px;
  text-align: justify;
  overflow-wrap: break-word;
  color: var(--white);
  font-size: 19px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
