.messeges {
  margin-top: -40px;
  display: grid;
  grid-template-columns: 2fr 2fr 4fr;
  grid-template-rows: 30px calc(100vh - 305px);
  grid-gap: 15px;
  h1 {
    grid-column-start: 1;
    grid-column-end: 5;
    align-self: center;
    font-size: 30px;
    span {
      font-size: 20px;
      color: #1d6e70;
    }
  }
}
