@import "src/scss/button.scss";
.button_container {
  position:relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}  
.error {
  color: var(--red);
  right: 0px;
  bottom: -30px;
  position: absolute;
}