.container {
  color: #c9d1d9;
  width: max-content;
}
.container__list {
  list-style: none;
}
.container__list_messeg {
  background-color: #343434;
  padding: 5px;
  overflow-wrap: break-word;
}
.container__list_messeg:hover {
  background-color: #5d5d5d;
}
