.container {
  color: var(--white);
  width: max-content;
}
.container__list {
  list-style: none;
}
.container__list_messeg {
  background-color: rgb(67, 67, 67);
  padding: 5px;
  overflow-wrap: break-word;
}
.container__list_messeg:hover {
  background-color: var(--black-grey-BG);
}
