.container {
  color: var(--white);
  width: fit-content;
  word-break: break-all;
  list-style: none;
  .container__list_messeg {
    background-color: #1d6f7020;
    padding: 5px;
    min-width: 150px;
    display: grid;
    grid-template-areas:
      "text text"
      "nickName  date";
    grid-template-columns: 2fr repeat(2, auto);
    &:hover {
      background-color: #1d6f7038;
    }
    p {
      grid-area: text;
      overflow-wrap: break-word;
    }
    .date {
      grid-area: date;
      font-size: 8px;
      color: #a6b6b6e3;
      align-self: flex-end;
    }
    .nickName {
      grid-area: nickName;
      font-size: 12px;
      color: #a6b6b6e3;
    }
  }
}
