.footer {
  background-color: var(--black-grey-BG);
  height: 120px;
  display: flex;
}
.footer_container {
  width: calc(100% - 160px);
  margin: auto;
  display: flex;
  align-items: center;
}
.footer_container__copiraite {
  color: var(--white);
  font-size: 12px;
  align-self: flex-end;
}
