.iconContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: min-content;
  margin-left: auto;
}

.container_bihance a,
.container_inst a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
}

.container_bihance :hover,
.container_inst :hover {
  color: var(--red);
  text-decoration: underline;
}
.iconContainer_p {
  color: var(--white);
  font-weight: 700;
}
