$size1600: 1600px;

.mainTextContainer {
  display: grid;
  justify-items: center;
  p {
    text-align: center;
  }
  .mainText {
    font-weight: 700;
    font-size: 72px;
    text-transform: uppercase;
    text-align: center;
    color: var(--blue-main-color);
    @media screen and (max-width: $size1600) {
      font-size: 52px;
    }
    @media screen and (max-width: 800px) {
      font-size: 36px;
    }
  }
}
