@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

.mainTextContainer {
  display: grid;
  justify-items: center;
  align-items: center;
  @media screen and (max-width: 450px) {
    width: 80%;
    text-align: center;
    margin: auto;
  }
  .text {
    text-align: center;
    font-size: 18px;
  }
  .mainText {
    font-size: 72px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: var(--blue-main-color);
    @media screen and (max-width: 1600px) {
      font-size: 52px;
    }
    @media screen and (max-width: 800px) {
      font-size: 36px;
    }
  }
}
