.header {
  background-color: #343434;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
}
.menu {
  margin-right: 80px;
  margin-left: auto;
}
.ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
}
.lang svg,
path {
  stroke: #dc5b24;
}
.lang {
  cursor: pointer;
}
.lang_list {
  top: 50px;
  position: absolute;
  color: aliceblue;
  right: 30px;
  background-color: #464646;
  font-size: 12pt;
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.lang_list li {
  cursor: pointer;
}
.lang_list li:hover {
  color: #dc5b24;
}
