.header {
  background-color: #343434;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
}
.menu {
  margin-right: 80px;
  margin-left: auto;
}
.ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.lang {
  cursor: pointer;
}
.list {
  top: 50px;
  position: absolute;
  color: #c9d1d9;
  right: 80px;
  background-color: #464646;
  font-size: 12pt;
  list-style: none;
  border-top: #c75626 3px solid;
}
.list li {
  margin: 20px;
}
.list li:hover {
  color: #dc5b24;
  cursor: pointer;
}
.menu svg {
  cursor: pointer;
  fill: #c9d1d9;
}
.menu svg:hover {
  fill: #dc5b24;
}
