.elem__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .label {
      color: var(--white);
      width: min-content;
    }
        input[type="text"] {
          background-color: var(--black-grey-BG);
          outline: none;
          border: none;
          color: var(--white);
          padding: 10px;
          border: 1px solid black;
          margin-bottom: 20px;
            &:hover,
              &:focus {
                border: var(--border-text);
              }
        }
}


