.component {
  background: var(--blue-main-color);
  display: flex;
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". textarea toScroll";
    align-items: center;
    margin: auto;
    width: 90vw;
  }
}
