.header {
  background-color: var(--black-grey-BG);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 100;
  .menu {
    margin-right: 80px;
    margin-left: auto;
    .ul {
      display: flex;
      list-style-type: none;
      gap: 30px;
      align-items: center;
      .login {
        padding: 5px;
      }
      .act {
        .list {
          top: 60px;
          position: absolute;
          color: var(--white);
          right: 155px;
          background-color: #4f4f4f;
          font-size: 12pt;
          list-style: none;
          border-top: var(--red) 3px solid;
          li {
            margin: 20px;
            cursor: pointer;
            &:hover {
              color: var(--red);
            }
          }
        }
      }
    }
    svg {
      cursor: pointer;
    }
  }
}
