@import "src/scss/button.scss";
@import "src/scss/formStyle.scss";

  .container {
    display: flex;   
    flex-direction: column;
    gap: 15px;
      .container__messege {
          display: flex;
          flex-direction: column;
          gap: 30px;
          background-color: var(--grey-text-BG);
          padding: 5%;
          overflow-x: hidden;
          overflow-y: scroll;
          height: calc(100vh - 450px);          
        }
         .container__textarea {
           display: flex;
           gap:15px;
           
           }
        .container__comment_text {
          @include textarea;
          width: 100%
        }
        .container__comment_but {
          @include buttonGreen;
          height: 100%;
          margin: 0%;
        }
      }
    
    


