.container {
  display: flex;   
  flex-direction: column;
  gap: 15px;
  .container__messege {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--grey-text-BG);
    padding: 5%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - 450px);          
  }
  .container__textarea {
    display: flex;
    align-items: center;
  }
}
    
    


