@import "scss/button.scss";
.container {
  width: 400px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 400px;
    .button {
      @include buttonGreen;
    }
}

