@import "src/scss/button.scss";
.container {
  width: 400px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 400px;
  position: relative;
  .error {
    color: var(--red);
    right: 0px;
    bottom:  50px;
    position: absolute;
  }
  .button_container{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    .button {
        @include buttonGreen;
        margin-left: 0%;
      }
    .button_signIn {
      @include buttonGreen;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      margin-left: 0%;
      background-color: #245b8a;
    }
  }   
}

