@import "src/scss/button.scss";
.container {
  width: 400px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 400px;
  position: relative;
  .error {
    color: var(--red);
    right: 0px;
    bottom:  50px;
    position: absolute;
  }
  .button_container{
    
    display: flex;
  
    justify-content: flex-end;
    align-items: flex-end;
    .p {
        color: var(--blue);
        cursor: pointer;
        text-decoration: underline;
        font-size: 14px;
        &:hover {
          color: var(--red);
        }
      }
    .button {
        @include buttonGreen;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-left: 20px;
      }
    .button_signIn {
      @include buttonGreen;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      margin-left: 20px;
      background-color: #245b8a;
    }
  }   
}

