.dialogues_list {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  list-style: none;
  font-size: 20px;
  .dialogues_name {
    cursor: pointer;
    color: var(--white);
    &:hover {
      color: var(--azure-button);
    }
  }
}
