.dialogues_list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
  font-size: 18px;
  padding: 5px;
  .dialogues_name {
    cursor: pointer;
    color: var(--white);
    &:hover {
      color: var(--azure-button);
    }
  }
}
