@import "src/scss/button.scss";
@import "src/scss/formStyle.scss";

  .dialogs {
    background-color: var(--grey-text-BG);
    color: var(--red);
    font-size: 20px;
    padding: 10px;
      .users {
        background-color: var(--grey-text-BG);
        padding: 10px;
      }
  }




