@import "src/scss/button.scss";
@import "src/scss/formStyle.scss";

.dialogs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--grey-text-BG);
  color: var(--red);
  font-size: 20px;
  padding: 10px;
  .users {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
