$size1600: 1740px;
.text {
  font-size: 18px;
  max-width: 423px;
  text-align: center;
}
.App {
  display: grid;
  grid-template-rows: 15vh 55vh 20vh;
  justify-content: center;
  gap: 5vh;
  @media screen and (max-width: $size1600) {
    grid-template-rows: 10vh 60vh 20vh;
    gap: 5vh;
  }
  .vector1 {
    position: absolute;
    left: -22vw;
    pointer-events: none;
    top: -32vh;
    @media screen and (max-width: $size1600) {
      left: -30vw;
      top: -40vh;
    }
    @media screen and (max-width: 1450px) {
      left: -40vw;
      top: -45vh;
    }
    @media screen and (max-width: 1200px) {
      left: -55vw;
      top: -45vh;
    }
    @media screen and (max-width: 1000px) {
      left: -70vw;
      top: -45vh;
    }
  }
  .vector2 {
    position: absolute;
    right: -20vw;
    pointer-events: none;
    top: -50vh;
    @media screen and (max-width: $size1600) {
      right: -20vw;
      top: -70vh;
    }
    @media screen and (max-width: 1450px) {
      right: -30vw;
      top: -70vh;
    }
    @media screen and (max-width: 1200px) {
      right: -35vw;
      top: -90vh;
    }
    @media screen and (max-width: 1000px) {
      right: -47vw;
      top: -90vh;
    }
  }
  .allevents {
    height: 100vh;
  }
}
