$size1600: 1740px;
.text {
  font-size: 18px;
  max-width: 423px;
  text-align: center;
}
.App {
  display: grid;
  position: relative;
  grid-template-rows: 15vh 55vh 20vh;
  justify-content: center;
  gap: 5vh;
  @media screen and (max-width: $size1600) {
    grid-template-rows: 15vh 55vh 20vh;
    gap: 5vh;
  }
  .vector1 {
    position: absolute;
    left: -200px;
    pointer-events: none;
    top: -250px;
    rotate: 120deg;
    width: 550px;
    @media screen and (max-width: 750px) {
      width: 480px;
    }
  }
  .vector2 {
    position: absolute;
    right: -280px;
    pointer-events: none;
    top: -400px;
    rotate: -10deg;
    width: 550px;
    @media screen and (max-width: 750px) {
      width: 490px;
    }
  }
  .allevents {
    height: 100vh;
  }
}

.allevents * {
  font-family: "SFProDisplay";
}
