@import "src/scss/button.scss";
@import "src/scss/formStyle.scss";
.messeges {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  justify-content: space-between;
  .container {
    width: 60%;
      .container__comment {
        display: flex;
        flex-direction: column;
        
        gap: 20px;
        .container__comment_text {
          @include textarea;
        }
        .container__comment_but {
          @include buttonGreen;
        }
      }
      .container__messege {
        display: flex;
        
        flex-direction: column;
        gap: 30px;
        background-color: var(--grey-text-BG);
        padding: 5%;
        overflow-x: hidden;
        height: 40vh;
      }
    }
  .users {
    background-color: var(--grey-text-BG);
    padding: 10px;
    overflow-y: scroll;
    }
    .users_list {
      overflow-y: scroll;
        }
  .users_container {
    display: flexbox;
    width: 30%;
    min-width: 100px;
      
  
    p {
      background-color: var(--grey-text-BG);
      color: var(--red);
      font-size: 20px;
      padding: 10px;
    }
    .messeges_list {
      display: flex;
      padding: 10px;
      flex-direction: column;
      height: 80vh;
      gap: 10px;
      background-color: var(--grey-text-BG);
      list-style: none;
      p {
        padding:5px;
        background-color: var(--black-grey-BG);
        color: var(--white);
        font-size: 18px;
        cursor: pointer;
        &:hover {
            background-color: var(--red);
            transition: 0.1s;
          }
      }
    }
  }
}

.dialogs {
  background-color: var(--grey-text-BG);
    color: var(--red);
    font-size: 20px;
    padding: 10px;
}
