.messeges {
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
}
.container {
  display: flex;
  width: 50%;
  min-width: 400px;
  flex-direction: column-reverse;
  gap: 50px;
}
.container__comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container__comment_text {
  height: 100px;
  resize: none;
  background-color: #343434;
  color: #c9d1d9;
  border: #c9d1d9 solid 1px;
  outline: none;
}
.container__comment_text:focus {
  border: #a24d29 solid 1px;
}
.container__comment_but {
  width: 100px;
  height: 50px;
  background-color: #1d6e70;
  border: none;
  color: #c9d1d9;
  cursor: pointer;
  font-size: 14px;
  margin-left: auto;
}
.container__comment_but:hover {
  background-color: #a24d29;
}
.container__messege {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #181818;
  padding: 5%;
  border: #b9c0c7 solid 1px;
  overflow-x: scroll;
  height: 40vh;
}
