.messeges {
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
}
.container {
  display: flex;
  width: 50%;
  min-width: 400px;
  flex-direction: column-reverse;
  gap: 50px;
}
.container__comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container__comment_text {
  height: 100px;
  resize: none;
  background-color: var(--black-grey-BG);
  color: var(--white);
  outline: none;
  border: 1px solid black;
}
.container__comment_text:focus {
  border: var(--red) solid 1px;
}
.container__comment_but {
  width: 100px;
  height: 50px;
  background-color: var(--azure-button);
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 14px;
  margin-left: auto;
  outline: none;
}
.container__comment_but:hover {
  background-color: var(--red);
}
.container__messege {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--grey-text-BG);
  padding: 5%;
  overflow-x: scroll;
  height: 40vh;
}
