@import "src/scss/button.scss";
@import "src/scss/formStyle.scss";
.messeges {
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
}
.container {
  display: flex;
  width: 50%;
  min-width: 400px;
  flex-direction: column-reverse;
  gap: 50px;
}
.container__comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container__comment_text {
  @include textarea;
}
.container__comment_but {
  @include buttonGreen;
}

.container__messege {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--grey-text-BG);
  padding: 5%;
  overflow-x: hidden;
  height: 40vh;
}
