.container {
  display: flex;
  color: var(--white);
  gap: 8px;
  align-items: center;
  justify-content: center;
  border: var(--red) 1px solid;
  width: 90px;
  height: 35px;
  cursor: pointer;
  &:hover {
    color: var(--red);
  }
}
