.container {
  background-color: var(--blue-main-color);
  display: flex;
  height: 70vh;
  @media screen and (max-width: 1600px) {
    height: 60vh;
  }
  @media screen and (max-width: 1400px) {
    height: 55vh;
  }
  @media screen and (max-width: 1320px) {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
}
