.v1 {
  fill: none;
  stroke: var(--white);
  stroke-miterlimit: 10;
  stroke-width: 11px;
}
.v2 {
  fill: var(--white);
}

svg:hover .v1 {
  stroke: var(--red);
}
svg:hover .v2 {
  fill: var(--red);
}
